{% if cart.items != blank %}

<form id="cart_form" method="post" action="/cart">
	{% for item in cart.items %}
		<cartitem>
			<!--
			<a href="{{ item.product.url }}">
			<img src="{{ item.product.image | product_image_url size:"thumb" }}">
			</a>
			-->
			<quantity>
				{{ item | item_quantity_input }}
			</quantity>
			<name>
				<a href="{{ item.product.url }}">
					{% for artist in item.product.artists %}
						{{ artist.name }}
					{% endfor %}
					{% if item.product.artists != blank %}
						— 
					{% endif %}
					{{ item.product.name }}
				</a>
			</name>
			<price>
				{{ item.price | money_with_sign }}
			</price>
			<remove>				
				<a href="#" class="remove">&times;</a>
			</remove>
		</cartitem>
	{% endfor %}
	<cartbottom>
		<cartupdate>
			<button id="cart-update" name="cart-update" title="update">Update</button>
		</cartupdate>
		<cartinfo>
			Subtotaal
		</cartinfo>
		<subtotal>
			{{ cart.subtotal | money_with_sign }}
		</subtotal>
		<checkout> 
			<button type="submit" name="checkout" title="Checkout">Bestel</button>
		</checkout>
		
	</cartbottom>
</form>

{% else %}

<div>
	Je winkelmandje is leeg. Keer terug naar de <a href="/">shop</a>
</div>

{% endif %}
