{% if products.all != blank %}
	{% for product in products.all %}
		<div class="product">
			<a href="{{ product.url }}">
				<p class="title">
					{{ product.name }}
				</p>
				<p>
					<img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url size: theme.product_image_size }}">
				</p>
			<!--          <i>{{ product.default_price | money_with_sign }}</i>-->
			{% if product.on_sale %}
			<em>On Sale</em>
			{% endif %}
			</a>
		</div>
	{% endfor %}


{% else %}
	<p>No products found.</p>
{% endif %}

