/* ------------------------------------------------------------------------------------------------
 *
 * This is where all of the CSS code is handled for your theme.
 * [... irrelevant ]
 * However, if you're just a glutton for punishment,
 * you could simply put all of your CSS in this file. It's up to you.
 *
 * ------------------------------------------------------------------------------------------------
 */
/* @group GENERAL */

html, body {
	margin: 0px;
	padding: 0px;
	font: 20px ff-super-grotesk-web, SuperGroteskA, sans-serif;
	font-style: normal;
	font-weight: 200;
	background: #ffc;
}

a, a:link, a:visited {
	text-decoration: none;
	color: inherit;
}
a img, a:link img, a:visited img {
	padding: 0px;
	margin: 0px;
/*	border: inherit;*/
	background: none;
}

wrap{
	display: block;
	margin: 35px auto;
	max-width: 1200px;
}


page{
	display: block;
	z-index: 2;
	margin-left: 70px;
}
h1, h2, h3, h4{
	margin-top: 0px;
}
/* @end */

/* @group Header */

#header{
	width: 100%;
	height: auto;
	display: table;
}

#logo{
	position: fixed;
	z-index: 4;
	top: 0px;
	margin-left: 10px;
	margin-top: 35px;
	width: 30px;
}

#header{
	text-align: left;
	height: auto;
}
#header img{
	width: auto;
}
#header-bottom{
	width: 100%;
	display: table;
	margin: 30px 0px 50px;
	box-sizing: border-box;
}
#header-bottom .col{
	display: table-cell;
	width: 25%;
}


/* @end */

/* @group MAIN */

main{
	padding-top: 35px;
	display: table;
	table-layout: fixed;
	width: 100%;
	min-height: 100%;
}
aside{
	display: table-cell;
	vertical-align: top;
	width: 20%;
}
#aside-close{
	display: none;
	text-align: center;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	z-index: 5;
}
content{
	display: table-cell;
	vertical-align: top;
	width: 80%;
}

content .col{
	float: left;
	clear: none;
	width: 40%;
	box-sizing: border-box;
	margin-right: 20px;
}

li{
	list-style: none;
	text-indent: 0;
	margin: 0px;
}
li.artist{
	margin-bottom: 20px;
}
nav ul{
	margin: 0px;
	padding: 0px;
	margin-bottom: 50px;
}

aside nav{
	margin-bottom: 50px;
}

.product{
	width: 50%;
	float: left;
	clear: none;
	height: 500px;
	text-align: center;
	margin-bottom: 50px;
}

.product img{
	border: 2px solid #000;
	max-height: 400px;
	max-width: 90%;
}
.product .title{
	text-align: left;
	width: 75%;
	height: 70px;
}

.pagination{
	float: none;
	clear: both;
	width: 100%;
}

/* @end */

/* @group Product */

.product_images img{
	max-width: 90%;
}


/* @end */

/* @group Mobile */
@media screen and (max-device-width: 480px), screen and (max-width: 900px){
	/* one collumn */
	html, body{
		font-size: 30px;
	}
	
	#header-bottom{
		width: 100%;
		display: block;
		float: left;
		clear: both;
		margin: 30px 0px 50px;
		box-sizing: border-box;
		height: auto;
	}
	#header-bottom .col{
		display: block;
		float: left;
		width: 50%;
		box-sizing: border-box;
		padding-right: 20px;
		padding-bottom: 20px;
	}
	main{
		display: block;
	}
	aside{
/*		color: #ffd;*/
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: block;
		margin-bottom: 50px;
		box-sizing: border-box;
		padding: 30px 60px;
		background: #ffe;
		z-index: 2;
	}
	#aside-close{
		display: block;
	}
	content{
		display: block;
		width: 100%;
	}
	.product{
		width: 100%;
		height: auto;
		float: none;
		clear: both;
		}
	content .col{
		float: none;
		clear: both;
		width: auto;
	}
}/* @end */
