/* ------------------------------------------------------------------------------------------------
 *
 * This is where all of the CSS code is handled for your theme.
 * [... irrelevant ]
 * However, if you're just a glutton for punishment,
 * you could simply put all of your CSS in this file. It's up to you.
 *
 * ------------------------------------------------------------------------------------------------
 */
/* @group GENERAL */

html, body {
	margin: 0px;
	padding: 0px;
	font: 20px ff-super-grotesk-web, SuperGroteskA, sans-serif;
	font-style: normal;
	font-weight: 200;
	background: #ffc;
}

a, a:link, a:visited {
	text-decoration: none;
	color: inherit;
}
a img, a:link img, a:visited img {
	padding: 0px;
	margin: 0px;
/*	border: inherit;*/
	background: none;
}

wrap{
	display: block;
	margin: 35px auto;
	max-width: 1200px;
}


page{
	display: block;
	z-index: 2;
	margin-left: 70px;
}
/* @end */

/* @group Header */

#header{
	width: 100%;
	height: auto;
	display: table;
}

#logo{
	position: fixed;
	z-index: 1;
	top: 0px;
	margin-left: 10px;
	margin-top: 35px;
	width: 30px;
}

#header{
	text-align: left;
	height: auto;
}
#header img{
	width: auto;
}
#header-bottom{
	width: 100%;
	display: table;
	font-size: 20px;
	margin: 30px 0px 30px;
	box-sizing: border-box;
}
#header-bottom .col{
	display: table-cell;
	width: 25%;
}


/* @end */

/* @group MAIN */

main{
	padding-top: 35px;
	display: table;
	table-layout: fixed;
	width: 100%;
	min-height: 100%;
}
aside{
	display: table-cell;
	vertical-align: top;
	width: 20%;
}

content{
	display: table-cell;
	vertical-align: top;
	width: 80%;
}

li{
	list-style: none;
	text-indent: 0;
	margin: 0px;
}
li.artist{
	margin-bottom: 20px;
}
nav ul{
	margin: 0px;
	padding: 0px;
	margin-bottom: 50px;
}

aside nav{
	margin-bottom: 50px;
}

.product{
	width: 50%;
	float: left;
	clear: none;
	height: 500px;
	text-align: center;
	margin-bottom: 50px;
}

.product img{
	border: 2px solid #000;
	max-height: 400px;
	max-width: 90%;
}
.product .title{
	text-align: left;
	width: 75%;
	height: 70px;
}

.pagination{
	float: none;
	clear: both;
	width: 100%;
}
/* @end */

/* @group Mobile */
@media screen and (max-width: 1100px){
	/* one collumn */
	.product{
		width: 100%;
		float: none;
		clear: both;
		}
}/* @end */
